{% load static %}
<html>
    <head>
        <title>DITS Menu</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Dinner In The Sky &#9829;</a></h1>
            <h2 style="color:rgb(187, 93, 216)">DITS is a 24x7 foodhall serving the best of healthy and vegan recipes. The menu showcases Indian recipes as well as a delightful dessert zone.</h2>
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus" style="font-size: 35;"></span></a>
        <br>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html> 
<!--template tags are used to transfer Python like things(dynamic) to html(which is static) -->