{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
    <div class="post">
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <!--template tag,expect url in blog/urls.py with name post_detail-->
        <p>{{ post.text|linebreaksbr }}</p>
        <div class="date">
            <p>Published: {{ post.published_date }}</p>
        </div>
    </div>
{% endfor %} 
{% endblock %}
<!--template tags are used to transfer Python like things(dynamic) to html(which is static) -->